/* ======================================================
   Reset básico
   ====================================================== */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f6fa;
  /* Opcional */
}

/* ======================================================
   Ajustes generales
   ====================================================== */

.mat-table {
  width: 100%;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* ======================================================
   Componentes específicos
   ====================================================== */

.example-container {
  height: 100%;
}

.example-sidenav {
  width: 250px;
}

.example-sidenav-content {
  padding: 1rem;
}

/* ======================================================
   Utilidades
   ====================================================== */

html {
  scroll-behavior: smooth;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.success-snackbar {
  background-color: #4caf50 !important; /* verde éxito */
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
